extends ../layouts/layout

block content
    form#form(action="/paciente/crear" method="POST")
        .form-group
            label(for="nombre") Nombre
            input.nombre(type="text" name="nombre" required)

        .form-group
            label(for="apellido") Apellido
            input.apellido(type="text" name="apellido" required)

        .form-group
            label(for="documento") Documento
            input.documento(type="text" name="documento" required)

        .form-group
            label(for="fechaNacimiento") Fecha de Nacimiento
            input.fechaNacimiento(type="date" name="fechaNacimiento" required)

        .form-group
            label(for="domicilio") Domicilio
            input.domicilio(type="text" name="domicilio" required)

        .form-group
            label(for="sexo") Sexo
            select.sexo(name="sexo" required)
                option(value="" disabled selected) Seleccione el sexo
                option(value="M") Masculino
                option(value="F") Femenino

        .form-group
            label(for="obraSocial") Plan Obra Social
            select.plan(name="plan" required)
                option(value="" disabled selected) Seleccione el plan
                each plan in planesObraSocial
                    option(value=plan.id)= plan.nombre

        .div-botones
            button.crear(type="submit") Crear Paciente
            button.resetear(type="reset") Limpiar campos

    script(src="/script/crearPaciente.js")