.sidebar-header
    img(src="/img/logo.webp" alt="logo")
    h2 Hospital
ul.sidebar-links
    li
        a(href="/prescripcion")
            span.material-symbols-outlined prescriptions
            | Prescripciones
    li
        a(href="/profesional")
            span.material-symbols-outlined medical_services
            | Profesionales
    li
        a(href="/paciente")
            span.material-symbols-outlined personal_injury
            | Pacientes
    li
        a(href="/medicamento")
            span.material-symbols-outlined medication
            | Medicamentos
    li
        a(href="/prestacion")
            span.material-symbols-outlined assignment
            | Prestaciones
.exit-link
    a(href="#")
        span.material-symbols-outlined logout
        | Salir