meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
title= titulo

link(rel="icon" href="/img/logo.webp" type="image/x-icon")
link(rel="stylesheet" href="/css/normalize.css")
link(rel="stylesheet" href="/css/layout.css")
link(rel="stylesheet" href="/css/prestacion.css")
link(rel="stylesheet", href="/css/tabla.css")
link(rel="stylesheet", href="/css/paciente.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0")