doctype html
html(lang="es")

    head
        include ../includes/head.pug

    body
        aside.sidebar
            include ../includes/aside.pug
        
        .silueta

        header.header
            include ../includes/header.pug

        main.main
            block content